<%if(advertised){%>
    <%for(let item in advertised){%>
        <%if(advertised[item].category.includes(cat)){%>
            <div class="col">
                <div class="card h-100 p-2 new-shadow">
                    <div class="d-flex justify-content-end">
                        <span class="badge rounded-pill p-2 my-pill-bg w-25">New!</span>
                    </div>
                    <img src="<%=advertised[item].logo%>" alt="<%=advertised[item].alt%>" class="img-fluid custom-img mx-auto d-block card-img-top">
                    <div class="card-body">
                        <h3 class="card-title" style="height: 100px;">
                        <%=advertised[item].name%>
                        </h3>
                        <div>
                            <span class="text-muted">Certification/Training provider: </span>
                            <%=advertised[item].company%>
                        </div>
                        <div>
                            <span class="text-muted">Level: </span>
                            <%=advertised[item].level%>
                        </div>
                        <div>
                            <span class="text-muted">Other levels: </span>
                            <%=advertised[item].otherlevels.join(", ")%>
                        </div>
                        <div class="text-muted">Category: 
                            <%for (let category in advertised[item].category){%>
                                <a href="/categories/<%=advertised[item].category[category]%>?page=1" class="rounded-pill btn btn-sm btn-light mb-2"><%=advertised[item].category%></a>
                            <%}%>
                        </div>
                        
                    </div>
                    <div class="card-footer text-center border-0 p-0">
                        <button type="button" class="w-100 btn btn-sm btn-outline-secondary p-2" data-bs-toggle="modal" data-bs-target="#<%=advertised[item].abbr%>">Details</button>
                    </div>
                    
                </div>

                <!-- Modal -->
                <div class="modal fade" id="<%=advertised[item].abbr%>" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-5 py-2">
                                <h3 class="modal-title" id="detailModalLabel">
                                    <img src="<%=advertised[item].logo%>" class="img-fluid custom-img mx-auto d-block"/>
                                    <p><%=advertised[item].name%></p>
                                </h3>
                                <h6 class="mb-3"><%=advertised[item].description[0]%></h6>
                                <p class="mb-3"><%=advertised[item].description[1]%></p>
                                <b class="mb-3">Click "Go to website" for more details</b>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="<%=advertised[item].url%>" target="_blank" class="btn btn-sm btn-success">Go to website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    <%}%>
<%}%>