<%if(advertised){%>
    <%for(let item in advertised){%>
        <%if(advertised[item].category.includes(cat)){%>
        <div class="col-lg-4 p-4">
            <span class="badge rounded-pill bg-danger">Advertised</span>
            <a href="<%= advertised[item].url %>" target="_blank" class="link">
                <%if(advertised[item].logo){%>
                    <img src="<%= advertised[item].logo %>" class="img-fluid custom-img mx-auto d-block" alt="<%= advertised[item].alt %>">
                <%}else{%>
                    <div class="custom-img">
                        <%= advertised[item].alt %>
                    </div>
                <%}%>
                <h3><%=advertised[item].name%></h3>
                <p><%=advertised[item].description%></p>
            </a>
                        
        </div>
        <%}%>
    <%}%>
<%}%>