<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navigation') %>
    <%if(title === "Cert Guru"){%>
        <%- include('../partials/carousel') %>
    <%}%>
      <main class="container mt-3">
            <section>
                <%- body -%>
            </section>
      </main>
    
    <%- include('../partials/footer') %>
  </body>
</html>