<% layout('layouts/boilerplate')%>
<!-- START COLUMNS CONTAINER FOR CONTENT -->
<div class="container">
    
    <!-- FILTER BUTTON -->
    <div class="dropdown">
        <button class="dropbtn">Filter by Category</button>
        <div class="dropdown-content">
          <input type="text" placeholder="Search.." id="filter-input">
            <a href="/allcertifications">All</a>
            <%for(let item in noDupes){%>
            <a href="/categories/<%= noDupes[item] %>"><%= noDupes[item] %></a>
            <%}%>
        </div>
    </div>
    <!-- END FILTER BUTTON -->
    <!-- START MIDDLE COLUMN CONTENT -->
    <div class="d-flex my-wrap flex-row mb-3 justify-content-start mt-5 custom">
        <%if(advertised){%>
            <%for(let item in advertised){%>
                <div class="col-lg-4 p-4 text-center">
                    <span class="badge rounded-pill bg-danger">Advertised</span>
                    <a href="<%= advertised[item].url %>" target="_blank" class="link clickCount">
                        <%if(advertised[item].logo){%>
                            <img src="<%= advertised[item].logo %>" class="img-fluid custom-img mx-auto d-block" alt="<%= advertised[item].alt %>">
                        <%}else{%>
                            <div class="custom-img">
                                <%= advertised[item].alt %>
                            </div>
                        <%}%>
                        <h3><%=advertised[item].name%></h3>
                        <p><%=advertised[item].description%></p>
                    </a>
                                
                </div>
            <%}%>
        <%}%>
        <%for(let item in paged){%>
            <div class="col-lg-4 p-4 text-center">
                
                <a href="<%= paged[item].url %>" target="_blank" class="link clickCount">
                    <%if(paged[item].logo){%>
                        <img src="<%= paged[item].logo %>" class="img-fluid custom-img mx-auto d-block" alt="<%= paged[item].alt %>">
                    <%}else{%>
                        <div class="custom-img">
                            <%= paged[item].alt %>
                        </div>
                    <%}%>
                    <h3><%=paged[item].name%></h3>
                    <p><%=paged[item].description%></p>
                </a>
                            
            </div>
        <%}%>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="allcertifications?page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="allcertifications?page=2">2</a></li>
          <li class="page-item"><a class="page-link" href="allcertifications?page=3">3</a></li>
        </ul>
      </nav>

</div>
		<!-- END MIDDLE COLUMN CONTENT -->
        
        <script src="/js/filterHover.js"></script>