<% layout('layouts/boilerplate')%>
<!-- START COLUMNS CONTAINER FOR CONTENT -->
<div class="container mb-3">
    <h1>All Certificates</h1>
    <h3><%=paged.noAdLength%> results</h3>
    <h3><%=paged.next.current%> out of <%=paged.next.count%> pages</h3>
    Categories:
    <%for(let item in noDupes){%>
        <a href="/categories/<%=noDupes[item]%>?page=1" class="link-success"><%=noDupes[item]%></a>
    <%}%>
    <!-- START MIDDLE COLUMN CONTENT -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
        <%if(advertised){%>
            <%for(let item in advertised){%>
                <div class="col">
                    <div class="card h-100 p-2 shadow-sm">
                        <span class="badge rounded-pill bg-danger w-50 mx-auto">Advertised</span>
                        <img src="<%=advertised[item].logo%>" alt="<%=advertised[item].alt%>" class="img-fluid custom-img mx-auto d-block card-img-top">
                        <div class="card-body">
                            <h3 class="card-title" style="height: 100px;">
                            <%=advertised[item].name%>
                            </h3>
                            <div class="text-muted">Type: 
                                <%=advertised[item].type%>
                            </div>
                            <div class="text-muted">Category: 
                                <a href="/categories/<%=advertised[item].category%>?page=1" class="link-success"><%=advertised[item].category%></a>
                            </div>
                            
                        </div>
                        <div class="card-footer text-center border-0">
                            <button type="button" class="w-100 btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#<%=advertised[item].abbr%>">Details</button>
                        </div>
                        
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="<%=advertised[item].abbr%>" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="detailModalLabel"><%=advertised[item].name%></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <%=advertised[item].description%>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="<%=advertised[item].url%>" target="_blank" class="btn btn-sm btn-success">Go to website</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <%}%>
        <%}%>
        <%for(let cert of paged.results){%>
            <div class="col">
                
                <div class="card h-100 p-2 shadow-sm">
                    <img src="<%=cert.logo%>" alt="<%=cert.alt%>" class="img-fluid custom-img mx-auto d-block card-img-top">
                    <div class="card-body">
                        <h3 class="card-title" style="height: 100px;">
                        <%=cert.name%>
                        </h3>
                        <div class="text-muted">Type: 
                            <%=cert.type%>
                        </div>
                        <div class="text-muted">Category: 
                            <%for (let item in cert.category){%>
                                <a href="/categories/<%=cert.category[item]%>?page=1" class="link-success"><%=cert.category[item]%></a>
                            <%}%>
                        </div>
                        <!-- <%=cert._id%> -->
                    </div>
                    <div class="card-footer text-center border-0">
                        <button type="button" class="w-100 btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#<%=cert.abbr%>">Details</button>
                    </div>
                    
                </div>
                <!-- Modal -->
                <div class="modal fade" id="<%=cert.abbr%>" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel"><%=cert.name%></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <%=cert.description%>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="<%=cert.url%>" target="_blank" class="btn btn-sm btn-success">Go to website</a>
                        </div>
                    </div>
                    </div>
                </div>  
            </div>
        <%}%>
    </div>
    <nav aria-label="Content navigation">
        <ul class="justify-content-center text-center pagination pagination-lg my-5">
            <%if(paged.previous.visible===true){%>
            <li class="page-item previous">
                <a class="page-link" href="allcertifications?page=<%=paged.previous.page%>" aria-label="Previous">
                    <!-- <span aria-hidden="true">&laquo;</span> -->Previous Page
                </a>
            </li>
            <%}%>
            <%if(paged.next.visible===true){%>
            <li class="page-item next">
                <a class="page-link" href="allcertifications?page=<%=paged.next.page%>" aria-label="Next">
                    <!-- <span aria-hidden="true">&raquo;</span> -->Next Page
                </a>
            </li>
            <%}%>
        </ul>
    </nav>

</div>
		<!-- END MIDDLE COLUMN CONTENT -->
        <script src="/js/filterHover.js"></script>