<% layout('layouts/boilerplate')%>
<!-- START COLUMNS CONTAINER FOR CONTENT -->
<div class="container">
    
    <!-- FILTER BUTTON -->
    <div class="dropdown">
        <button class="dropbtn">Filter by Category</button>
        <div class="dropdown-content">
          <input type="text" placeholder="Search.." id="filter-input">
            <a href="/allcertifications?page=1">All</a>
            <%for(let item in noDupes){%>
            <a href="/categories/<%= noDupes[item] %>"><%= noDupes[item] %></a>
            <%}%>
        </div>
    </div>
    <!-- END FILTER BUTTON -->
    <!-- START MIDDLE COLUMN CONTENT -->
    <div class="d-flex my-wrap flex-row mb-3 justify-content-start mt-5 custom">
        <%if(advertised){%>
            <%for(let item in advertised){%>
                <div class="col-lg-4 p-4 text-center">
                    <span class="badge rounded-pill bg-danger">Advertised</span>
                    <a href="<%= advertised[item].url %>" target="_blank" class="link clickCount">
                        <%if(advertised[item].logo){%>
                            <img src="<%= advertised[item].logo %>" class="img-fluid custom-img mx-auto d-block" alt="<%= advertised[item].alt %>">
                        <%}else{%>
                            <div class="custom-img">
                                <%= advertised[item].alt %>
                            </div>
                        <%}%>
                        <h3><%=advertised[item].name%></h3>
                        <p><%=advertised[item].description%></p>
                    </a>
                                
                </div>
            <%}%>
        <%}%>
        <%for(let item of paged.results){%>
            <div class="col-lg-4 p-4 text-center">
                
                <a href="<%= item.url %>" target="_blank" class="link clickCount">
                    <%if(item.logo){%>
                        <img src="<%= item.logo %>" class="img-fluid custom-img mx-auto d-block" alt="<%= item.alt %>">
                    <%}else{%>
                        <div class="custom-img">
                            <%= item.alt %>
                        </div>
                    <%}%>
                    <h3><%=item.name%></h3>
                    <p><%=item.description%></p>
                </a>
                            
            </div>
        <%}%>
    </div>
    <nav aria-label="Content navigation">
        <ul class="justify-content-center text-center pagination pagination-lg">
            <%if(paged.previous.visible===true){%>
            <li class="page-item previous">
                <a class="page-link" href="allcertifications?page=<%=paged.previous.page%>" aria-label="Previous">
                    <!-- <span aria-hidden="true">&laquo;</span> -->Previous Page
                </a>
            </li>
            <%}%>
            <%if(paged.next.visible===true){%>
            <li class="page-item next">
                <a class="page-link" href="allcertifications?page=<%=paged.next.page%>" aria-label="Next">
                    <!-- <span aria-hidden="true">&raquo;</span> -->Next Page
                </a>
            </li>
            <%}%>
        </ul>
      </nav>

</div>
		<!-- END MIDDLE COLUMN CONTENT -->
        <script src="/js/filterHover.js"></script>