<% layout('layouts/boilerplate')%>
<!-- START COLUMNS CONTAINER FOR CONTENT -->
<div class="container mb-3">
    <h2>All Certifications</h2>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="/" class="btn btn-sm btn-outline-secondary">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <button class="breadcrumb-item btn btn-sm btn-light" disabled>All Certifications</button>
            </li>
        </ol>
    </nav>
    <h4><%=paged.noAdLength%> results</h4>
    <h4><%=paged.next.current%> out of <%=paged.next.count%> pages</h4>
    <div>
        Categories:
        <%for(let item in noDupes){%>
            <a href="/categories/<%=noDupes[item]%>?page=1" class="rounded-pill btn btn-sm btn-light mb-2"><%=noDupes[item]%></a>
        <%}%>
    </div>
    <!-- START MIDDLE COLUMN CONTENT -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
        <%if(advertised){%>
            <%for(let item in advertised){%>
                <div class="col">
                    <div class="card h-100 p-2 new-shadow">
                        <div class="d-flex justify-content-end">
                            <span class="badge p-2 rounded-pill my-pill-bg w-25">New!</span>
                        </div>
                        
                        <img src="<%=advertised[item].logo%>" alt="<%=advertised[item].alt%>" class="img-fluid custom-img mx-auto d-block card-img-top">
                        
                        <div class="card-body">
                            <h3 class="card-title" style="height: 100px;">
                            <%=advertised[item].name%>
                            
                            </h3>
                            <div>
                                <span class="text-muted">Certification/Training provider: </span>
                                <%=advertised[item].company%>
                            </div>
                            <div>
                                <span class="text-muted">Level: </span>
                                <%=advertised[item].level%>
                            </div>
                            <div>
                                <span class="text-muted">Other levels: </span>
                                <%=advertised[item].otherlevels.join(", ")%>
                            </div>
                            <div class="text-muted">Category: 
                                <a href="/categories/<%=advertised[item].category%>?page=1" class="rounded-pill btn btn-sm btn-light mb-2"><%=advertised[item].category%></a>
                            </div>
                            
                            
                        </div>
                        <div class="card-footer text-center border-0 p-0">
                            <button type="button" class="w-100 btn btn-sm btn-outline-secondary p-2" data-bs-toggle="modal" data-bs-target="#<%=advertised[item].abbr%>">Details</button>
                        </div>
                        
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="<%=advertised[item].abbr%>" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-5 py-2">
                                <h3 class="modal-title" id="detailModalLabel">
                                    <img src="<%=advertised[item].logo%>" class="img-fluid custom-img mx-auto d-block"/>
                                    <p><%=advertised[item].name%></p>
                                </h3>
                                <%=advertised[item].description%>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="<%=advertised[item].url%>" target="_blank" class="btn btn-sm btn-success">Go to website</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <%}%>
        <%}%>
        <%for(let cert of paged.results){%>
            <div class="col">
                
                <div class="card h-100 p-2 shadow-sm">
                    <img src="<%=cert.logo%>" alt="<%=cert.alt%>" class="img-fluid custom-img mx-auto d-block card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">
                        <%=cert.name%>
                        </h3>
                        <div>
                            <span class="text-muted">Certification/Training provider: </span>
                            <%=cert.company%>
                        </div>
                        <div>
                            <span class="text-muted">Level: </span>
                            <%=cert.level%>
                        </div>
                        <div>
                            <span class="text-muted">Other levels: </span>
                            <%=cert.otherlevels.join(", ")%>
                        </div>
                        <div>
                            <span class="text-muted">Category: </span>
                            <%for (let item in cert.category){%>
                                <a href="/categories/<%=cert.category[item]%>?page=1" class="rounded-pill btn btn-sm btn-light mb-2"><%=cert.category[item]%></a>
                            <%}%>
                        </div>
                        <!-- <%=cert._id%> -->
                    </div>
                    <div class="card-footer text-center border-0 p-0">
                        <button type="button" class="w-100 btn btn-sm btn-outline-secondary p-2" data-bs-toggle="modal" data-bs-target="#<%=cert.abbr%>">Details</button>
                    </div>
                    
                </div>
                <!-- Modal -->
                <div class="modal fade" id="<%=cert.abbr%>" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-5 py-2">
                                <img src="<%=cert.logo%>" class="img-fluid modal-img mx-auto mb-2 d-block"/>
                                <h3 class="modal-title" id="detailModalLabel">
                                    <p><%=cert.name%></p>
                                </h3>
                                <h6 class="mb-3"><%=cert.description[0]%></h6>
                                <p class="mb-3"><%=cert.description[1]%></p>
                                <b class="mb-3">Click "Go to website" for more details</b>
                                
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="<%=cert.url%>" target="_blank" class="btn btn-sm btn-success">Go to website</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        <%}%>
    </div>
    <nav aria-label="Content navigation">
        <ul class="justify-content-center text-center pagination pagination-lg my-5">
            <%if(paged.previous.visible===true){%>
            <li class="page-item previous">
                <a class="page-link btn btn-sm btn-light" href="allcertifications?page=<%=paged.previous.page%>" aria-label="Previous">
                    <!-- <span aria-hidden="true">&laquo;</span> -->Previous Page
                </a>
            </li>
            <%}%>
            <%if(paged.next.visible===true){%>
            <li class="page-item next">
                <a class="page-link btn btn-sm btn-light" href="allcertifications?page=<%=paged.next.page%>" aria-label="Next">
                    <!-- <span aria-hidden="true">&raquo;</span> -->Next Page
                </a>
            </li>
            <%}%>
        </ul>
    </nav>

</div>
		<!-- END MIDDLE COLUMN CONTENT -->